body {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  height: 100vh; /* Set body height to full viewport height */
  margin: 0; /* Remove default body margin */
}

.container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: #333;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
  margin: 25px;
}

button:hover {
  filter: brightness(150%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

h2 {
  margin-bottom: 50px;
}

#menu {
  margin: 100px;
}
